body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.check {
    max-width: 200px;
    max-height: 200px;
    margin-left: 550px;
    margin-top: 10px;
}

input {
    width: 40%;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    margin-top: 10px;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

#forms {
    margin-top: 10px;
    margin-left: 380px;
    margin-right: 300px;
}