body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lustria', serif;
}

.logo {
    max-width: 80px;
    max-height: 80px;
}

header {
    padding: 10px;
    color: #51260E;
    background-color: #FCF2ED;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #51260E;
    margin-top: 10%;
}

form,
h2 {
    color: #51260E;
}

button {
    background-color: #51260E;
    color: #FCF2ED;
    font-family: 'Lustria', serif;
    font-size: 15px;
    margin-top: 2%;
}

footer {
    margin-top: 18%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: #FCF2ED;
}