#nivel-1 {
    display: flex;
    justify-content: flex-end
}

#nivel-2 {
    display: flex;
    justify-content: center;
}

#nivel-3 {
    display: flex;
    justify-content: space-around;
}

#nivel-4 {
    display: flex;
    justify-content: space-between;
}

#nivel-5 {
    display: flex;
    align-items: flex-end;
}

#nivel-6 {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

#nivel-7 {
    display: flex;
    flex-direction: row-reverse;
}

#nivel-8 {
    display: flex;
    flex-direction: column;
}

#nivel-9 {
    display: flex;
    flex-direction: column;
}

#nivel-10 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#nivel-11 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#nivel-12 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#nivel-13 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: flex-end;
}

#nivel-14 {
    display: flex;
}

.yellow {
    order: 1;
}

#nivel-15 {
    display: flex;
}

.red {
    order: -1;
}

#nivel-16 {
    display: flex;
    align-items: flex-start;
}

.yellow {
    align-self: flex-end;
}

#nivel-17 {
    display: flex;
    align-items: flex-start;
}

.yellow {
    order: 1;
    align-self: flex-end;
}

#nivel-18 {
    display: flex;
    flex-wrap: wrap;
}

#nivel-19 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#nivel-20 {
    display: flex;
    flex-flow: column wrap
}

#nivel-21 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#nivel-22 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

#nivel-23 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}

#nivel-24 {
    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: center;
    align-content: space-between;
    flex-direction: column-reverse;
}