body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#top-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 8vh;
    text-align: center;
}

.green-background {
    background-color: green;
}

.yellow-background {
    background-color: yellow;
}

.pink-background {
    background-color: fuchsia;
    display: grid;
    min-height: 52vh;
    text-align: center;
}

#middle-container {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    text-align: center;
}

.blue-background {
    background-color: blue;
    min-height: 32vh;
}

.red-background {
    background-color: red;
    min-height: 16vh;
}

.lightgreen-background {
    background-color: lightgreen;
    min-height: 16vh;
}

.purple-background {
    display: grid;
    background-color: purple;
    min-height: 8vh;
    text-align: center;
}